<template name="Header">

  <div class="ui top fixed borderless inverted menu" style="background-color: black">

    <div class="ui container">
      <a class="item" href="{{pathFor 'Landing_Page'}}"><h2>Alloy</h2></a>

      <div class="ui right dropdown item">
        <div class="text">What To Do?</div>
        <i class="dropdown icon"></i>

        <div class="menu">
          <a class="{{ isActiveRoute 'Login_Page'}} item"
             href="{{ pathFor 'Login_Page' }}"
             style="color: black;">Sign in</a>

          <a class="{{ isActiveRoute 'Home_Page'}} item"
             href="{{ pathFor 'Home_Page' }}"
             style="color: black;">Home</a>

          <a class="{{ isActiveRoute 'Profile_Page'}} item"
             href="{{ pathFor 'Profile_Page' }}"
             style="color: black;">Profile</a>

          <a class="{{ isActiveRoute 'About_Us_Page'}} item"
             href="{{ pathFor 'About_Us_Page' }}"
             style="color: black;">About Alloy</a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Munchies Mockup</h1></a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
      <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>
      {{/if}}
      <a href="#" class="item">{{> loginButtons }} </a>
    </div>
  </div>!-->

</template>