/*
 * Default HTML tag edits
 */
body {
  padding-top: 56px; /* Move body of page below navbar. */
}

footer {
  background-color: black;
  height: 100px;
  color: white;
}


/*
 * CSS for Fading transitions
 */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/*
 * Landing Page
 */
.center.text {
  color: white;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 70px;

  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
}

.landing-background {
  background: url(https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=d67d058666f12ab507d885162c4e33ad) no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
}

.colorblocktop {
  padding-top: 200px;
}

.ui.huge.inverted.blue.basic.button {
  -webkit-animation: fadeInDown 4s;
  animation: fadeInDown 4s;
}

/*
 * Home Page
 */
.home-center.text {
  color: white;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 50px;
  padding: 30px;

  -webkit-animation: fadeInDown 2s;
  animation: fadeInDown 2s;
}

.home-background {
  background: url(https://images.unsplash.com/photo-1455894127589-22f75500213a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=707b89a1269f1ff0b0a436bd3eededf4) no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
}

.home-colorblocktop {
  padding-top: 50px;
}

.ui.top.attached.tabular.menu {
  -webkit-animation: fadeInLeft 2s;
  animation: fadeInLeft 2s;
}


/*
 * Login Page
 */
.login-background {
  background: url(https://images.unsplash.com/photo-1430760903787-4d91bbf15384?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=a7bd0e9421c84c96622a3d55299f3ef8) no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
}

.login-colorblocktop {
  padding-top: 100px;

  -webkit-animation: fadeInLeft 2s;
  animation: fadeInLeft 2s;
}

.login-center.text {
  color: white;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}


/*
 * Profile Page
 */
.profile-background {
  background: url(https://images.unsplash.com/photo-1428266291406-9e73c3f975c2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=b171d1f6b529487c251570559ebd9656) no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
}

.profile-center.text {
  color: white;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  padding-bottom: 50px;
}

.profile-colorblocktop {
  padding-top: 100px;
}



.about-grad-background {
  background: url(http://www.donna.gr/wp-content/uploads/2015/06/pancakes.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 600px;
}

.about-center.text {
  color: black;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}

.about-colorblocktop {
  padding-top: 100px;
}

.ui.large.form {
  opacity: 0.95;
}


